<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict><key>CFBundleShortVersionString</key>
<string>0.0.0</string>
<key>CFBundleExecutable</key>
<string>applet</string>
<key>CFBundleName</key>
<string>FightCade</string>
<key>CFBundleIdentifier</key>
<string>com.fightcade</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleDisplayName</key>
<string>FightCade</string>
<key>CFBundleIconFile</key>
<string>icon.icns</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>LSRequiresCarbon</key>
<true/>
<key>CFBundleURLTypes</key>
<array>
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Shell</string>
		<key>CFBundleURLIconFile</key>
		<string>icon.icns</string>
		<key>CFBundleURLName</key>
		<string>com.fightcade.url</string>
		<key>CFBundleURLSchemes</key>
		<array>
			<string>fightcade</string>
		</array>
	</dict>
</array>
<key>LSMinimumSystemVersion</key>
<string>10.7</string>
</dict>
</plist>
